* {
  padding: 0;
  margin: 0;

}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

div {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
}

ul {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
  align-items: center;


}

a {
  text-decoration: none;
}

li :hover {
  background-color: rgb(197, 62, 62);
}

.tituloNav {
  text-align: center;
  border: 1px solid black;
}

.conteiner {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 500px;
}


button {
  width: 55px;
  margin: 5px;
}

.itemCard {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 290px;
  height: 410px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.itemCount {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 470px;
  height: 120px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contador {
  width: 30px;
  text-align: center;
}

.btnCard {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100px;

}

.btnCard ul li {
  padding: 10px;
}

.verDetalles {

  align-self: center;
  width: 110px;
  height: 40px;
  justify-content: center;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

img {
  height: 200px;
  width: 200px;
}

.itemDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;


}

.spinners {
  display: block;
  margin: auto;
}

.categories {
  padding-left: 40px;
}

.agregarCarrito {
  width: 150px;
  height: 50px;
}

button {
  width: 73px;
  height: 30px;
}

.itemCart {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.numCart {
  text-align: center;
}

.borrarTodo {
  margin: 10px;
  align-self: center;
}

.carritoVacio {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 200px;
  border: white;

}

.totalCompra {
  text-align: center;
}

#root {
  border: white;
}

#formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.mb-3 {
  width: 361px;
  margin: 10px;
  align-items: center;
}

.form-control {
  width: 100%;
}

.h1Formulario {
  text-align: center;
}

h1 {
  text-align: center;
}